<div class="col-md-2" ng-show="view == 'view'">
    <button class="btn btn-primary btn-block" ng-click="changeView('compose')">Compose</button>
    <hr />
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <span class="badge">14</span> Inbox
        </a>
        <a href="#" class="list-group-item">
            <span class="badge">5</span> Starred
        </a>
        <a href="#" class="list-group-item">
            <span class="badge">3</span> Sent
        </a>
        <a href="#" class="list-group-item">
            <span class="badge">100</span> Archived
        </a>
        <a href="#" class="list-group-item">
            <span class="badge">60</span> Spam
        </a>
        <a href="#" class="list-group-item">
            <span class="badge">70</span> Deleted
        </a>
    </div>
</div>
