<div ng-controller="MailboxCtrl as mailbox" ng-show="mailbox.mode == 'view'">
    <div class="row">
        <form class="form col-md-12" role="form">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i> Search</div>
                    <input class="form-control" ng-model="mailbox.searchText" type="text" placeholder="Search Emails">
                </div>
            </div>
        </form>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-block" ng-click="mailbox.changeMode('compose')">Compose</button>
            <hr />
            <div class="list-group">
                <a href="javascript:;" ng-click="mailbox.applyFilter(filter.name)" ng-repeat="filter in mailbox.filters" ng-class="{'list-group-item active': filter.name == mailbox.filter, 'list-group-item': filter.name !== mailbox.filter}">
                    {{ filter.text }}
                </a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="btn-group">
                <button ng-hide="mailbox.emailsSelected" ng-click="mailbox.selectEmails('all', filteredEmails)" type="button" class="btn btn-default">Select All</button>
                <button ng-show="mailbox.emailsSelected" ng-click="mailbox.unselectEmails()" type="button" class="btn btn-default">Unselect All</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="mailbox.selectEmails('read', filteredEmails)" href="#">Read</a></li>
                    <li><a ng-click="mailbox.selectEmails('unread', filteredEmails)" href="#">Unread</a></li>
                    <li><a ng-click="mailbox.selectEmails('starred', filteredEmails)" href="#">Starred</a></li>
                    <li><a ng-click="mailbox.selectEmails('unstarred', filteredEmails)" href="#">Unstarred</a></li>
                </ul>
            </div>
            <button ng-show="mailbox.emailsSelected" ng-click="mailbox.moveToInbox(filteredEmails)" class="btn">Move To Inbox</button>
            <button ng-show="mailbox.emailsSelected" ng-click="mailbox.readSelected(filteredEmails)" class="btn">Mark As Read</button>
            <button ng-show="mailbox.emailsSelected" ng-click="mailbox.unreadSelected(filteredEmails)" class="btn">Mark As Unread</button>
            <button ng-show="mailbox.emailsSelected" ng-click="mailbox.starSelected(filteredEmails)" class="btn"><i class="fa fa-star"></i> Star</button>
            <button ng-show="mailbox.emailsSelected" ng-click="mailbox.unstarSelected(filteredEmails)" class="btn"><i class="fa fa-star-o"></i> Unstar</button>
            <button ng-show="mailbox.emailsSelected" ng-click="mailbox.spamSelected(filteredEmails)" class="btn">Mark As Spam</button>
            <button ng-show="mailbox.emailsSelected" ng-click="mailbox.archiveSelected(filteredEmails)" class="btn"><i class="fa fa-archive"></i> Archive</button>
            <button ng-show="mailbox.emailsSelected" ng-click="mailbox.deleteSelected(filteredEmails)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
            <hr />
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="email in filteredEmails = (mailbox.emails | SearchFilter:mailbox.searchText | TypeFilter:mailbox.filter)" ng-class="{unread: !email.is_read}">
                        <td ng-if="email.is_selected"><input ng-click="mailbox.selectEmail(email, filteredEmails)" checked type="checkbox"></td>
                        <td ng-if="!email.is_selected"><input ng-click="mailbox.selectEmail(email, filteredEmails)" type="checkbox"></td>
                        <td ng-click="mailbox.starEmail(email)"><i ng-class="{'fa fa-star-o': !email.is_starred, 'fa fa-star': email.is_starred}"></i></td>
                        <td ng-show="email.is_draft" ng-click="mailbox.editDraft(email)" ng-bind="email.from"></td>
                        <td ng-hide="email.is_draft" ng-click="mailbox.showEmail(email)" ng-bind="email.from"></td>
                        <td ng-show="email.is_draft" ng-click="mailbox.editDraft(email)" ng-bind="email.subject"></td>
                        <td ng-hide="email.is_draft" ng-click="mailbox.showEmail(email)" ng-bind="email.subject"></td>
                        <td ng-show="email.is_draft" ng-click="mailbox.editDraft(email)" ng-bind="email.date"></td>
                        <td ng-hide="email.is_draft" ng-click="mailbox.showEmail(email)" ng-bind="email.date"></td>
                    </tr>
                    <tr ng-hide="filteredEmails.length">
                        <td>No emails found.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
