<div class="col-md-10" ng-show="viewingEmails">
    <div class="btn-group">
        <button type="button" class="btn btn-default">Select All</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Read</a></li>
            <li><a href="#">Unread</a></li>
            <li><a href="#">Starred</a></li>
            <li><a href="#">Unstarred</a></li>
        </ul>
    </div>
    <button class="btn btn-primary">Mark All As Read</button>
    <hr />
    <table class="table table-hover">
        <tbody>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Daniel Sackett</td>
                <td>Hello this is an email!</td>
                <td>August 15, 2014</td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Jesse Boyer</td>
                <td>Did you see what Matt did this week?</td>
                <td>August 15, 2014</td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Matthieu Fauveau</td>
                <td>My new mechanical keyboard is the best!</td>
                <td>August 15, 2014</td>
            </tr>
            <tr>
                <td><input type="checkbox" value=""></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Cort Lyons</td>
                <td>AngularJS is SO cool!</td>
                <td>August 15, 2014</td>
            </tr>
        </tbody>
    </table>
</div>
