<div class="col-md-10" ng-show="mode == 'view'">
    <div class="btn-group">
        <button type="button" class="btn btn-default">Select All</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Read</a></li>
            <li><a href="#">Unread</a></li>
            <li><a href="#">Starred</a></li>
            <li><a href="#">Unstarred</a></li>
        </ul>
    </div>
    <button class="btn btn-primary">Mark All As Read</button>
    <hr />
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="message in messages | filter : { subject: search } | TypeFilter:typeFilter" ng-class="{unread: !message.is_read}">
                <td ng-if="message.is_selected"><input checked type="checkbox"></td>
                <td ng-if="!message.is_selected"><input type="checkbox"></td>
                <td><i ng-class="{'fa fa-star-o': !message.is_starred, 'fa fa-star': message.is_starred}"></i></td>
                <td ng-bind="message.from"></td>
                <td ng-bind="message.subject"></td>
                <td ng-bind="message.date"></td>
            </tr>
        </tbody>
    </table>
</div>
